@using Framework.DTO;
@{
    var btns = ViewData["btns"] as List<UserMenuButton>;
}
<div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,fit:true" style="padding:1px">
    <div class="easyui-panel" data-options="closable:false,collapsible:false,minimizable:false,maximizable:false,border:false,fit:false,height:60" style="padding:10px">
        @{
            if (btns != null && btns.Count > 0)
            {
                foreach (var item in btns)
                {
                    <a id="@item.ID" data-id="@item.sDataID" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'@item.sIcon'">@item.sButtonName</a>
                }
            }
        }
    </div>
    @(RenderBody())
</div>
